# JumpToPython 점프투 파이썬
## 02장 파이썬의 기초, 자료형

In [128]:
"I eat %d apples." % 3

'I eat 3 apples.'

In [129]:
"I eat %s apples." % "three"

'I eat three apples.'

In [130]:
number=3
"I eat %d apples." % number

'I eat 3 apples.'

In [131]:
number=10
day="three"
"I ate %d apples. so I was sick for %s days." %(number, day)

'I ate 10 apples. so I was sick for three days.'

In [132]:
"rate is %s" %3.234

'rate is 3.234'

In [133]:
"I have %s apples" %3

'I have 3 apples'

In [134]:
"Error is %d%%" % 20

'Error is 20%'

In [135]:
"%10s" % "hi"

'        hi'

In [136]:
"%-10sjane"%"hi"

'hi        jane'

In [137]:
"%0.4f" %3.42134234

'3.4213'

In [138]:
"%10.4f" %3.42134234

'    3.4213'

In [139]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [140]:
"I eat {0} apples".format("five")

'I eat five apples'

In [141]:
number=3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [142]:
number=10
day="three"
"I ate {0} apples. so I was sick for {1} days.".format(number,day)

'I ate 10 apples. so I was sick for three days.'

In [143]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10,day="three")

'I ate 10 apples. so I was sick for three days.'

In [144]:
"I ate {0} apples. so I was sick for {day} days.".format(10,day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [145]:
"{0:<10}".format("hi")

'hi        '

In [146]:
"{0:>10}".format("hi")

'        hi'

In [147]:
"{0:^10}".format("hi")

'    hi    '

In [148]:
"{0:=^10}".format("hi")

'====hi===='

In [149]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [150]:
y=3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [151]:
y=3.42134234
"{0:10.4f}".format(y)

'    3.4213'

In [152]:
"{{ and }}".format()

'{ and }'

In [153]:
name='홍길동'
age=30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [154]:
age=30
f'나는 내년이면 {age+1}살이 된다.'

'나는 내년이면 31살이 된다.'

In [155]:
d={'name':'홍길동','age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [156]:
f'{"hi":<10}'

'hi        '

In [157]:
f'{"hi":>10}'

'        hi'

In [158]:
f'{"hi":^10}'

'    hi    '

In [159]:
f'{"hi":=^10}'

'====hi===='

In [160]:
f'{"hi":!<10}'

'hi!!!!!!!!'

In [161]:
f'{{ and }}'

'{ and }'

In [162]:
a="hobby"
a.count('b')

2

In [163]:
a="Python is the best choice"
a.find('b')

14

In [164]:
a="Python is the best choice"
a.find('k')

-1

In [165]:
a="Life is too short"
a.index('t')

8

In [166]:
",".join('abcd')

'a,b,c,d'

In [167]:
",".join(['a','b','c','d'])

'a,b,c,d'

In [168]:
a="hi"
a.upper()

'HI'

In [169]:
a="HI"
a.lower()

'hi'

In [170]:
a=" hi "
a.lstrip()

'hi '

In [171]:
a=" hi "
a.rstrip()

' hi'

In [172]:
a=" hi "
a.strip()

'hi'

In [173]:
a="Life is too short"
a.replace("Life","Your leg")

'Your leg is too short'

In [174]:
a="Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [175]:
b="a:b:c:d"
b.split(':')

['a', 'b', 'c', 'd']

In [176]:
a=[1,2,3]
a[0] + a[2]

4

In [177]:
a=[1,2,3]
a[-1]

3

In [178]:
a=[1,2,3,['a','b','c']]
a[-1][0]

'a'

In [179]:
a=[1,2,3,['a','b','c']]
a[-1][2]

'c'

In [180]:
a=[1,2,['a','b',['Life','is']]]
a[2][2][0]

'Life'

In [181]:
a=[1,2,3,4,5]
a[:2]

[1, 2]

In [182]:
a="12345"
a[:2]

'12'

In [183]:
a=[1,2,3,4,5]
b=a[:2]
c=a[2:]
c

[3, 4, 5]

In [184]:
a=[1,2,3,['a','b','c'],4,5]
a[3][:2]

['a', 'b']

In [185]:
a=[1,2,3]
b=[4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [186]:
a=[1,2,3]
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [187]:
a=[1,2,3]
len(a)

3

In [188]:
a=[1,2,3]
str(a[2])+"hi"

'3hi'

In [189]:
a=[1,2,3]
a[2]=4
a

[1, 2, 4]

In [190]:
a=[1,2,3]
del a[1]
a

[1, 3]

In [191]:
a=[1,2,3,4,5]
del a[2:]
a

[1, 2]

In [192]:
a=[1,2,3]
a.append(4)
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [193]:
a=[1,4,3,2]
a.sort()
a

[1, 2, 3, 4]

In [194]:
a=['a','c','b']
a.sort()
a.reverse()
a

['c', 'b', 'a']

In [195]:
a=['a','c','b']
a.reverse()
a

['b', 'c', 'a']

In [196]:
a=[1,2,3]
a.index(1)

0

In [197]:
a=[1,2,3]
a.insert(0,4)
a.insert(3,5)
a

[4, 1, 2, 5, 3]

In [198]:
a=[1,2,3,1,2,3]
a.remove(3)
a.remove(3)
a

[1, 2, 1, 2]

In [199]:
a=[1,2,3]
a.pop(1)
a

[1, 3]

In [200]:
a=[1,2,3,1]
a.count(1)

2

In [201]:
a=[1,2,3]
a.extend([4,5])
b=[6,7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]

In [202]:
dic={'name':'pey','phone':'010-9999-1234','birth':'1118'}

In [203]:
dic={'name':'pey','phone':'010-9999-1234','birth':'1118'}

In [204]:
a={1:'a'}
a[2]='b'
a['name']='pey'
a[3]=[1,2,3]
del a[1]
a

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [205]:
grade={'pey':10,'julliet':99}
grade['pey']
grade['julliet']

99

In [206]:
a={1:'a',2:'b'}
a[2]

'b'

In [207]:
dic={'name':'pey','phone':'010-9999-1234','birth':'1118'}
dic['birth']

'1118'

In [208]:
a={'name':'pey','phone':'010-9999-1234','birth':'1118'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [209]:
a={'name':'pey','phone':'010-9999-1234','birth':'1118'}
for k in a.keys():
    print(k)

name
phone
birth

In [235]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [236]:
s2=set("hello")
s2

{'e', 'h', 'l', 'o'}

In [241]:
s1 = set([1,2,3])
l1 = list(s1)
print(l1)
print(l1[0])
t1 = tuple(s1)
print(t1)
print(t1[2])

[1, 2, 3]
1
(1, 2, 3)
3

In [249]:
s1=set([1,2,3,4,5,6])
s2=set([4,5,6,7,8,9])
print(s1 & s2)
print(s1.intersection(s2))
print(s1 | s2)
print(s1.union(s2))
print(s1 - s2)
print(s2 - s1)
print(s1.difference(s2))
print(s2.difference(s1))

{4, 5, 6}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{8, 9, 7}
{1, 2, 3}
{8, 9, 7}

In [250]:
s1=set([1,2,3])
s1.add(4)
print(s1)

{1, 2, 3, 4}

In [252]:
s1 = set([1,2,3])
s1.update([4,5,6])
s1

{1, 2, 3, 4, 5, 6}

In [253]:
s1 = set([1,2,3])
s1.remove(2)
print(s1)

{1, 3}

In [211]:
a=[80,75,55]
(a[0]+a[1]+a[2])/3

70.0

In [212]:
a=13
if a%2==0:
    print("13은 짝수")
else:
    print("13은 홀수")

13은 홀수

In [216]:
pin="881120-1068234"
yyyymmdd=pin[:6]
num=pin[7:]
print(yyyymmdd)
print(num)

881120
1068234

In [217]:
pin="881120-1068234"
print(pin[7:8])

1

In [218]:
a="a:b:c:d"
b=a.replace(":","#")
print(b)

a#b#c#d

In [219]:
a=[1,3,5,4,2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [221]:
a=['Life','is','too','short']
result=" ".join(a)
print(result)

Life is too short

In [234]:
a=(1,2,3)
a=a+(4,)
print(a)

(1, 2, 3, 4)

In [ ]:
3
3은 리스트는 key로 넣을 수 없음음

In [231]:
a={'A':90,'B':80,'C':70}
result=a.pop("B")
print(a)
print(result)

{'A': 90, 'C': 70}
80

In [232]:
a = [1,1,1,2,2,3,3,3,4,4,5]
aSet = set(a)
b=list(aSet)
print(b)

[1, 2, 3, 4, 5]

In [ ]:
a = b = [1,2,3]
b[1]=4
print(a)
print(b)

둘이 같은 값 나오는데 그 이유는 b또한 a의 값을 참조하므로

[1, 4, 3]
[1, 4, 3]

In [256]:
money=True
if money:
    print("택시를")
    print("타고")
    print("가라")

택시를
타고
가라

In [257]:
money=True
if money:
    print("ghd")

ghd

In [261]:
x=3
y=2
x!=y

True

In [262]:
money=2000
if money >= 3000:
    print("택시를 타고 가라")
else:
    print("걸어가라")

걸어가라

In [263]:
money=2000
card=True
if money >= 3000 or card:
    print("택시를 타고 가라")
else:
    print("걸어가라")

택시를 타고 가라

In [265]:
1 not in [1,2,3]

False

In [266]:
'a' in ('a','b','c')

True

In [267]:
'j' not in 'python'

True

In [268]:
pocket = ['paper','cellphone','money']
if 'money' in pocket:
    print("택시를 타고 가라")
else:
    print("걸어가라")

택시를 타고 가라

In [269]:
pocket=['paper','money','cellphone']
if 'money' in pocket:
    pass
else:
    print("카드를 꺼내라")

In [275]:
pocket=['paper','cellphone']
card=False
if 'money' in pocket:
    print("택시를 타고 가라1")
else:
    if card:
        print("택시를 타고 가라2")
    else:
        print("걸어가라")

걸어가라

In [277]:
pocket = ['paper','cellphone']
card = True
if 'paper' in pocket:
    print("택시를 타고 가라")
elif card:
    print("택시를 타고 가라2")
else:
    print("걸어가라")

택시를 타고 가라

In [278]:
pocket = ['paper','cellphone']
card = True
if 'paper' in pocket:    print("택시를 타고 가라")
elif card:    print("택시를 타고 가라2")
else:    print("걸어가라")

택시를 타고 가라

In [282]:
score=88
if score >= 60:
    message = "success"
else:
    message ="false"
print(message)

success

## while문

In [283]:
treeHit = 0
while treeHit < 10:
    treeHit = treeHit +1
    print("나무를 %d번 찍었습니다." % treeHit)
    if treeHit == 10:
        print("나무 넘어갑니다")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다

In [285]:
prompt ="""
1. Add
2. Del
3. List
4. Quit

Enter number:
"""
number=0
while number != 4:
    print(prompt)
    number = int(input())

1. Add
2. Del
3. List
4. Quit

Enter number:


1. Add
2. Del
3. List
4. Quit

Enter number:


1. Add
2. Del
3. List
4. Quit

Enter number:

In [286]:
coffee=10
moeny=300
while money :
    print("돈을 받았으니 커피를 줍니다.")
    coffee = coffee -1
    print("남은 커피의 양은 %d개 입니다." % coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
        break

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 9개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 8개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 7개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 6개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 5개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 4개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 3개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 2개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 1개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 0개 입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [287]:
coffee=10
while True:
    money = int(input("돈을 넣어 주세요:"))
    if money == 300:
        print("커피를 줍니다.")
        coffee = coffee -1
    elif money > 300:
        print("거스름돈 %d를 주고 커피를 줍니다." % (money -300))
        coffee = coffee -1
    else:
        print("돈을 다시 돌려주고 커피를 주지 않습니다.")
        print("남은 커피의 양은 %d개 입니다." % coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지 합니다.")
        break

거스름돈 350를 주고 커피를 줍니다.
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 9개 입니다.
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 9개 입니다.
거스름돈 8700를 주고 커피를 줍니다.
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 8개 입니다.
거스름돈 500를 주고 커피를 줍니다.
거스름돈 300를 주고 커피를 줍니다.
거스름돈 600를 주고 커피를 줍니다.
거스름돈 600를 주고 커피를 줍니다.
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 4개 입니다.
거스름돈 100를 주고 커피를 줍니다.
커피를 줍니다.
거스름돈 600를 주고 커피를 줍니다.
거스름돈 100를 주고 커피를 줍니다.
커피가 다 떨어졌습니다. 판매를 중지 합니다.

In [288]:
a = 0
while a<10:
    a = a+1
    if a%2 == 0: continue
    print(a)

1
3
5
7
9

In [290]:
test_list=['one','two','three']
for i in test_list:
    print(i)

one
two
three

In [291]:
a=[(1,2,),(3,4),(5,6)]
for (first, last) in a :
    print(first + last)

3
7
11

In [294]:
marks = [90,25,67,45,80]

number=0
for mark in marks:
    number = number +1
    if mark >=60:
        print("%d번 학생은 합격입니다.%s점" % (number,mark))
    else:
        print("%d번 학생은 불합격입니다.%s점" % (number,mark))

1번 학생은 합격입니다.90점
2번 학생은 불합격입니다.25점
3번 학생은 합격입니다.67점
4번 학생은 불합격입니다.45점
5번 학생은 합격입니다.80점

In [295]:
marks = [90,25,67,45,80]
number=0
for mark in marks:
    number = number +1
    if mark < 60:
        continue
    print("%d번 학생 축하합니다. 합격입니다." %number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [296]:
add = 0
for i in range(1,11):
    add = add + i
print(add)

55

In [297]:
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):
    if marks[number] < 60:
        continue
    print("%d번 학생 축하합니다. 합격입니다." % (number+1) )

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [298]:
for i in range(2,10):
    for j in range(1,10):
        print(i*j, end=" ")
    print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [299]:
a = [1,2,3,4]
result = []
for num in a :
    result.append(num*3)
print(result)

[3, 6, 9, 12]

In [300]:
a=[1,2,3,4]
result = [num * 3 for num in a]
print(result)

[3, 6, 9, 12]

In [301]:
a = [1,2,3,4]
result = [num * 3 for num in a if num%2 == 0]
print(result)

[6, 12]

In [304]:
result = [x*y for x in range(2,10)
            for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

## 되새김문제

In [ ]:
#1
#shirt

#2
result =0
i =1
while i <= 1000:
    if i%3 == 0:
        result += i
    i += 1
print(result)

166833

In [ ]:
i =0
while True:
    i += 1
    if i > 5 : break
    print(i*"*")

*
**
***
****
*****

In [311]:
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [312]:
A = [70,60,55,75,95,90,80,80,85,100]
total = 0
for score in A:
    total += score
average = total / len(A)
print(average)

79.0

In [314]:
number = [1,2,3,4,5]
result = [ num*2 for num in number if num%2 == 1]
print(result)

[2, 6, 10]

In [315]:
def add(a,b):
    return a+b

print(add(5,8))

13

In [317]:
def say():
    return 'hi'

print(say())

hi

In [319]:
def add(a,b):
    print("%d, %d의 합은 %d입니다." % (a,b, a+b) )
print(add(5,7))

5, 7의 합은 12입니다.
None

In [323]:
def sub(a,b):
    return a-b

result=sub(b=8,a=2)
print(result)

-6

In [324]:
def add_many(*args):
    result = 0
    for i in args:
        result = result +i
    return result

result = add_many(1,2,3)
print(result)

6

## 04장 파이썬의 입출력

In [95]:
a=input()
a

''

In [96]:
number=input("숫자를 입력하세요:")
type(number)

str

In [97]:
print("life""is""too short")

lifeistoo short

In [98]:
print("life","is","too short")

life is too short

### 04-3 파일 읽고 쓰기

In [99]:
f = open("새파일.txt",'w')
f.close

In [100]:
f=open("C:/doit/새파일.txt","w")
f.close()

In [101]:
f=open("C:/doit/새파일.txt",'w')
for i in range(1,11):
    data = "%d번째 줄입니다.\n" %i
    f.write(data)
f.close()

In [102]:
f=open("C:/doit/새파일.txt",'r')
line = f.readline()
print(line)
f.close()

1번째 줄입니다.

In [103]:
f=open("C:/doit/새파일.txt",'r')
while True:
    line = f.readline()
    if not line : break
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [104]:
f=open("C:/doit/새파일.txt",'r')
lines = f.readlines()
for line in lines:
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [105]:
f=open("C:/doit/새파일.txt",'r')
lines = f.readlines()
for line in lines:
    line = line.strip()
    print(line)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [106]:
f=open("C:/doit/새파일.txt",'r')
data=f.read()
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [107]:
f=open("C:/doit/새파일.txt",'r')
for line in f:
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [108]:
f=open("C:/doit/새파일.txt",'a')
for i in range(11,20):
    data ="%d번째 줄입니다.\n" %i
    f.write(data)
f.close()

In [109]:
with open("foo.txt","w") as f:
    f.write("Life is too short, you need python")

In [110]:
import sys

args = sys.argv[1:]
for i in args :
    print(i)

--f=c:\Users\user\AppData\Roaming\jupyter\runtime\kernel-v37b7d7dba65cb5ab5ec8760779c8ce194f7ea696f.json

### 되새김 문제

In [111]:
def is_odd(number):
    if number%2 != 0:
        return True
    else:
        return False

is_odd(3)

True

In [112]:
def avg_numbers(*args):
    result = 0
    for i in args:
        result += i
    return result/len(args)

print(avg_numbers(1,2))
print(avg_numbers(1,2,3,4,5))

1.5
3.0

In [113]:
input1 = int(input("첫 번째 숫자를 입력하세요:"))
input2 = int(input("두두 번째 숫자를 입력하세요:"))

total = input1 + input2
print("두 수의 합은 %d입니다." %total)

# 4번 정답; 삼번

ValueError: invalid literal for int() with base 10: ''

In [ ]:
f1 = open("test.txt",'w')
f1.write("Life is too short")
f1.close()

f2=open("test.txt",'r')
print(f2.read())
f2.close()

Life is too short

In [ ]:
user_input = input("저장할 내용을 입력하세요:")
f=open('test.txt','a')
f.write(user_input)
f.write("\n")
f.close()

In [ ]:
f=open('test.txt','r')
body=f.read()
f.close()
body=body.replace("java","python")
f=open('test.txt','w')
f.write(body)
f.close()

In [ ]:
def sum(*args):
    sum=0
    for i in args:
        sum= sum+i
    return sum

sum(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

55

In [ ]:
import sys
args = sys.argv[1:]
sum=0
for i in args :
    sum+=int(i)
    print(sum)

In [ ]:
result =0
def add(num):
    global result
    result += num
    return result

print(add(3))
print(add(4))

In [ ]:
result1=0
result2=0

def add1(num):
    global result1
    result1 += num
    return result1

def add2(num):
    global result2
    result2 += num
    return result2

print(add1(3))
print(add1(4))
print(add2(3))
print(add2(7))

In [ ]:
class Calculator:
    def __init__(self):
        self.result = 0

    def add(self, num):
        self.result += num
        return self.result
    
    def sub(self, num):
        self.result -= num
        return self.result

cal1 = Calculator()
cal2 = Calculator()

print(cal1.add(3))
print(cal1.add(4))
print(cal1.sub(9))

print(cal2.add(3))
print(cal2.add(7))

3
7
-2
3
10

In [ ]:
class FourCal:
    def __init__(self,first,second):
        self.first = first
        self.second = second

    def setData(self, first, second):
        self.first = first
        self.second = second

    def add(self):
        return self.first + self.second
    
    def mul(self):
        result = self.first * self.second
        return result
    
    def sub(self):
        result = self.first - self.second
        return result
    
    def div(self):
        result = self.first / self.second
        return result
    

a=FourCal(4,2)
b=FourCal(3,8)

print(a.add())
print(a.mul())
print(a.sub())
print(a.div())

print(b.add())
print(b.mul())
print(b.sub())
print(b.div())

class MoreFourCal(FourCal):
    def pow(self):
        result = self.first ** self.second
        return result

c=MoreFourCal(4,2)
print("c:",c.add())
print("c:",c.pow())

6
8
2
2.0
11
24
-5
0.375
c: 6
c: 16

In [ ]:
class Family:
    lastname = "김"

a=Family()
b=Family()

print(a.lastname)
print(b.lastname)

Family.lastname="신"

print(a.lastname)
print(b.lastname)

a.lastname="유"
print(a.lastname)
print(b.lastname)

김
김
신
신
유
신

### 05-4 예외처리

In [ ]:
a=[1,2,3]
a[3]

IndexError: list index out of range

In [ ]:
try:
    4/0
except ZeroDivisionError as e:
    print(e)

division by zero

In [ ]:
try:
    f = open('foo.txt','w')

finally:
    f.close()

In [ ]:
try:
    a=[1,2]
    print(a[3])
    4/0
except (ZeroDivisionError, IndexError) as e:
    print(e)

list index out of range

In [ ]:
try:
    age=int(input("나이를 입력하세요:"))
except:
    print("입력이 정확하지 않습니다.")
else:
    if age <= 18:
        print("미성년자는 출입금지입니다.")
    else:
        print("환영합니다.")

미성년자는 출입금지입니다.

In [ ]:
try:
    f = open("나없는파일",'r')
except FileNotFoundError:
    pass

In [ ]:
class Bird:
    def fly(self):
        raise NotImplementedError
    
class Eagle(Bird):
    def fly(self):
        print("very fast")

eagle = Eagle()
eagle.fly()

very fast

In [ ]:
class MyError(Exception):
    def __str__(self):
        return "허용되지 않는 별명입니다."

def say_nick(nick):
    if nick == '바보':
        raise MyError()
    print(nick)

try:
    say_nick("천사")
    say_nick("바보")
except MyError as e:
    print(e)

천사
허용되지 않는 별명입니다.

### 05-5 내장함수

In [ ]:
all([1,2,3,0])

False

In [ ]:
any([])

False

In [ ]:
chr(44032)

'가'

In [ ]:
dir({'1':'a'})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
divmod(7,3)

(2, 1)

In [ ]:
for i ,name in enumerate(['body','foo','bar']):
    print(i, name)

0 body
1 foo
2 bar

In [ ]:
eval('divmod(4,3)')

(1, 1)

In [ ]:
def positive(l):
    result = []
    for i in l:
        if i>0:
            result.append(i)
    return result

print(positive([1,-3,2,0,-5,6]))

[1, 2, 6]

In [ ]:
def positive(x):
    return x>0

print(list(filter(positive, [1,-3,2,0,-5,6])))

[1, 2, 6]

In [ ]:
list(filter(lambda x : x>0, [1,-3,2,0,-5,6]))

[1, 2, 6]

In [ ]:
hex(3)

'0x3'

In [ ]:
a=3
print(id(3))
print(id(a))
b=4
print(id(b))

140713012233192
140713012233192
140713012233224

In [ ]:
a=input()
a

b=input("Enter: ")
b

'헿'

In [ ]:
int('1A',16)

26

In [ ]:
class Person:pass

a=Person()
isinstance(a, Person)

b=3
isinstance(b,Person)

False

In [ ]:
len("python")
len([1,2,3])
len((1,'a'))

2

In [ ]:
list("python")
list((1,2,3))
a=[1,2,3]
b=list(a)
b

[1, 2, 3]

In [ ]:
def two_times(numberList):
    result=[]
    for number in numberList:
        result.append(number*2)
    return result

result = two_times([1,2,3,4])
print(result)

[2, 4, 6, 8]

In [ ]:
def two_times(x):
    return x*2

list(map(two_times, [1,2,3,4]))
list(map(lambda x : x*2,[1,2,3,4]))

[2, 4, 6, 8]

In [ ]:
min("python")

'h'

In [ ]:
oct(34)

'0o42'

In [ ]:
ord('가')

44032

In [ ]:
pow(2,4)

16

In [ ]:
list(range(1,-10,-2))

[1, -1, -3, -5, -7, -9]

In [ ]:
round(5.678,2)

5.68

In [ ]:
sorted("zero")

['e', 'o', 'r', 'z']

In [ ]:
str(3)

'3'

In [ ]:
sum([1,2,3])

6

In [ ]:
sum(tuple([4,6,8]))

18

In [ ]:
type(open("test",'w'))

_io.TextIOWrapper

In [ ]:
list(zip([1,2,3,600],[4,5,6,7]))

[(1, 4), (2, 5), (3, 6), (600, 7)]

### 05-6 표준 라이브러리

In [117]:
import datetime
day1 = datetime.date(2021,12,14)
day2 = datetime.date(2023,4,5)

diff = day2 - day1
diff.days


day = datetime.date(2021,12,14)
day.weekday()
day.isoweekday()

2

In [126]:
import time
time.asctime(time.localtime(time.time()))

'Wed Apr  2 14:35:30 2025'

In [127]:
import time
time.ctime()

'Wed Apr  2 14:37:05 2025'

In [129]:
import time
time.strftime('%x', time.localtime(time.time()))

time.strftime('%c',time.localtime(time.time()))

'Wed Apr  2 14:39:03 2025'

In [130]:
import time
for i in range(10):
    print(i)
    time.sleep(1)

0
1
2
3
4
5
6
7
8
9

In [131]:
import math
math.gcd(60,100,80)

20

In [ ]:
import math
math.lcm(15, 25)

In [132]:
import random
random.random()

0.9983526482743493

In [134]:
random.randint(1,55)

21

In [137]:
import random
def random_pop(data):
    number = random.randint(0, len(data)-1)
    return data.pop(number)

if __name__ == "__main__":
    data = [1,2,3,4,5]
    while data:
        print(random_pop(data) )

3
4
1
2
5

In [140]:
import random
def random_pop(data):
    number = random.choice(data)
    data.remove(number)
    return number

data = [1,2,3,4,5]
random.sample(data, len(data))

[4, 5, 1, 2, 3]